In [ ]:
Set-ExecutionPolicy -Scope Process -ExecutionPolicy RemoteSigned
.\.venv_sql\Scripts\Activate.ps1

In [1]:
%load_ext sql

In [3]:
%sql sqlite:///./test.db

Connecting to 'sqlite:///./test.db'

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS users (
    id   INTEGER PRIMARY KEY,
    name TEXT
);

INSERT INTO users (name) VALUES ('Alice'), ('Bob');

SELECT * FROM users;

Running query in 'sqlite:///./test.db'

2 rows affected.

+----+-------+
| id |  name |
+----+-------+
| 1  | Alice |
| 2  |  Bob  |
+----+-------+